@media only screen and (min-width: 720px) {
    .main-cursor,
.secondary-cursor {
    z-index: 10000;
    pointer-events: none;
    transform: translate3d(0, 0, 0);
    position: fixed;
}

.main-cursor{
    mix-blend-mode: difference;
    .main-cursor-background{
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 50%;
    }
}

.secondary-cursor{
    width: 60px;
    height: 60px;

    .cursor-background {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid black;
    }
}
}
