.block {
  height: 100vh;
}

.wrapper {
  height: 95%;
  width: 90%;
  padding-top: 5rem;
  margin: 0 auto;
  display: grid;
  position: relative;
  place-items: center stretch;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.top-right {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: right;
  h1{
    font-size: 9vw;
    font-family: 'RadioGrotesk-Ultralight';
    margin: 0;

  }
}

.bottom-left {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  text-align: left;
  h1{
    font-family: 'RadioGrotesk-Ultralight';
    font-size: 10vw;
    padding: 0;
    margin: 0;
    color: black;
  }
}

.intro-wrapper {
  display: flex;
  flex-direction: column; /* Default: column */
  height: 100vh;
  margin-bottom: 10vh;
  margin-left: 2.5rem; /* mx-10 */
  margin-right: 2.5rem;
  @media (min-width: 1024px) { /* Matches Tailwind's lg: breakpoint */
    flex-direction: row; /* Switch to row for larger screens */
    height: auto; /* Adjust height if necessary */
  }
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-self: flex-start;
  line-height: 4vw;
  width: 100%;
  background-color: black;
  color: #fff;
  border-radius: 25px;
  padding: 25px;
  font-size: 3vw;
  font-family: 'NeueMontreal-Book', sans-serif;
  //margin-bottom: 30vh;
  p {
    margin-top: 15px;
    justify-content: space-around;
    opacity: 0;
    > div {
      opacity: 0;
      transform: translateY(0px);
    }
    &.is-reveal {
      opacity: 1;
    }
  }
}


@media only screen and (max-width: 1024px) {
  .wrapper {
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }

  .top-right {
    h1{
      font-size: 15vw;
    }
  }

  .bottom-left {
    h1{
      font-size: 15vw;
    }
  }

  .intro-wrapper {
    height: 100%;
    width: 90%;
    padding-top: 6rem;
    margin: 0 auto;
    display: flex; /* Ensure it's still a flexbox container */
    flex-direction: column-reverse; /* Stack the image on top of the text */
    position: relative;
  }

  .intro-text {
    width: 100%;
    font-size: 5vw;
    align-self: flex-start;
    line-height: 6vw;
    font-family: 'NeueMontreal-Book', sans-serif;
    text-align: start;
    text-align-last: start;
    p {
      opacity: 0;
      > div {
        opacity: 0;
        transform: translateY(0px);
      }
      &.is-reveal {
        opacity: 1;
      }
    }
  }
}

.lineChildren {
  transform: translate(0, 500px);
}

.lineParent {
  overflow: hidden;
}

