/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./components/Lighthouse/lighthouse.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.lighthouse-container {
  display: grid;
  height: 100%;
}

.intro-wrapper-title {
  display: flex;
  flex-direction: column;
  margin: 0% 10%;
}

.intro-text-title {
  order: 1;
  font-weight: 800;
  font-size: 3vw;
  line-height: 4vw;
  font-family: "RadioGrotesk-Ultralight";
}
.intro-text-title p {
  opacity: 0;
}
.intro-text-title p > div {
  opacity: 0;
  transform: translateY(0px);
}
.intro-text-title p.is-reveal {
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .wrapper {
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }
  .intro-wrapper-title {
    width: 90%;
    margin: 0 auto;
    display: block;
    position: relative;
  }
  .intro-text-title {
    width: 100%;
    font-weight: 800;
    font-size: 7vw;
    line-height: 8vw;
    font-family: "RadioGrotesk-Ultralight";
    text-align: justify;
    text-align-last: justify;
  }
  .intro-text-title p {
    opacity: 0;
  }
  .intro-text-title p > div {
    opacity: 0;
    transform: translateY(0px);
  }
  .intro-text-title p.is-reveal {
    opacity: 1;
  }
}
.lineChildren {
  transform: translate(0, 500px);
}

.lineParent {
  overflow: hidden;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./components/Lighthouse/title.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
body {
  font-family: "NeueMontreal-Book";
  margin: 0;
  padding: 0;
}

.my-wrap {
  position: relative;
  height: 50vh;
  color: #222;
  display: grid;
  place-content: center;
}

.lerp-wrap {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.25rem;
  line-height: 1.1;
}

.lerp-wrap span {
  position: relative;
  color: #222;
  width: 100px;
  height: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(64px, 6vw, 16vw);
}

.lerp-wrap span:nth-child(1) {
  color: red;
}

.lerp-wrap span:nth-child(2) {
  color: blue;
}

.lerp-wrap span:nth-child(3) {
  color: green;
}

.lerp-wrap span:nth-child(4) {
  color: yellow;
}

.lerp-wrap span:nth-child(5) {
  color: pink;
}

.lerp-wrap span:nth-child(6) {
  color: purple;
}

.lerp-wrap span:nth-child(7) {
  color: orange;
}

.lerp-wrap span:nth-child(8) {
  color: gray;
}

.lerp-wrap span:nth-child(9) {
  color: black;
}

.lerp-wrap span:nth-child(10) {
  color: coral;
}

.lerp-wrap span:nth-child(11) {
  color: brown;
}

.lerp-wrap span:nth-child(12) {
  color: navy;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./components/Welcome/welcome.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.block {
  height: 100vh;
}

.wrapper {
  height: 95%;
  width: 90%;
  padding-top: 5rem;
  margin: 0 auto;
  display: grid;
  position: relative;
  place-items: center stretch;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.top-right {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: right;
}
.top-right h1 {
  font-size: 9vw;
  font-family: "RadioGrotesk-Ultralight";
  margin: 0;
}

.bottom-left {
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: left;
}
.bottom-left h1 {
  font-family: "RadioGrotesk-Ultralight";
  font-size: 10vw;
  padding: 0;
  margin: 0;
  color: black;
}

.intro-wrapper {
  height: 50vh;
  width: 90%;
  padding-top: 10rem;
  margin: 0 auto;
  display: grid;
  position: relative;
  place-items: start end;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.intro-text {
  grid-area: 1/2/2/3;
  width: 100%;
  font-weight: 800;
  background-color: black;
  color: #fff;
  border-radius: 25px;
  padding: 25px;
  font-size: 3vw;
  line-height: 4vw;
  font-family: "RadioGrotesk-Ultralight";
  text-align: justify;
  text-align-last: justify;
}
.intro-text p {
  opacity: 0;
}
.intro-text p > div {
  opacity: 0;
  transform: translateY(0px);
}
.intro-text p.is-reveal {
  opacity: 1;
}

@media only screen and (max-width: 900px) {
  .wrapper {
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }
  .top-right h1 {
    font-size: 15vw;
  }
  .bottom-left h1 {
    font-size: 15vw;
  }
  .intro-wrapper {
    height: 100%;
    width: 90%;
    padding-top: 6rem;
    margin: 0 auto;
    display: block;
    position: relative;
  }
  .intro-text {
    width: 100%;
    font-weight: 800;
    font-size: 7vw;
    line-height: 8vw;
    font-family: "RadioGrotesk-Ultralight";
    text-align: justify;
    text-align-last: justify;
  }
  .intro-text p {
    opacity: 0;
  }
  .intro-text p > div {
    opacity: 0;
    transform: translateY(0px);
  }
  .intro-text p.is-reveal {
    opacity: 1;
  }
}
.lineChildren {
  transform: translate(0, 500px);
}

.lineParent {
  overflow: hidden;
}
