  .lighthouse-container {
    display: grid;
    height: 100%;
  }
  
    .intro-wrapper-title {
        display: flex;
        flex-direction: column;
        margin: 0% 10%;
      }
  
    .intro-text-title {
      order: 1;
      font-weight: 800;
      font-size: 3vw;
      line-height: 4vw;;
      font-family: 'RadioGrotesk-Ultralight';
  
      p {
        opacity: 0;
        > div {
          opacity: 0;
          transform: translateY(0px);
        }
        &.is-reveal {
          opacity: 1;
        }
      }
    }
    
  
    @media only screen and (max-width: 900px) {
      .wrapper {
        display: flex;
        height: 80vh;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
    }
  
    .intro-wrapper-title {
    //   height: 100%;
      width: 90%;
      margin: 0 auto;
      display: block;
      position: relative;
  
    }
  
      .intro-text-title {
        width: 100%;
        font-weight: 800;
        font-size: 7vw;
        line-height: 8vw;;
        font-family: 'RadioGrotesk-Ultralight';
        text-align:justify;
        text-align-last:justify;
        p {
          opacity: 0;
          > div {
            opacity: 0;
            transform: translateY(0px);
          }
          &.is-reveal {
            opacity: 1;
          }
        }
      }
      
    }
  
    .lineChildren {
      transform: translate(0, 500px);
    }
  
    .lineParent {
      overflow: hidden;
    }